<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="../../favicon.ico" />

  <title th:text="${title}">Title</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
  <link rel="stylesheet" th:href="@{/css/jsgrid.min.css}"></link>
  <link rel="stylesheet" th:href="@{/css/jsgrid-theme.min.css}"></link>

  <style>
  .awayTeam { text-align: right; vertical-align: middle; }
  .homeTeam { text-align: left; vertical-align: middle; }
  .selectedWinner { background-color: #87CEFA; }
  </style>
</head>
