<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Shliktr - Entry'">

  <th:block layout:fragment="content">
    <p>Entry for week <input id="weekChooser" th:type="number" min="1" max="17" th:value="${week}"></input>
       and player
       <select id="playerChooser">
        <option th:each="p : ${players}"
                th:value="${p.id()}" th:text="${p.name()}"
                th:selected="${p == player}">player</option>
       </select>
       goes here</p>

    <div th:unless="${entry}" class="container">
      <h3><span th:text="${player.name()}">player</span> has not submitted picks for week <span th:text="${week}">week</span>.</h3>
    </div>

    <div th:if="${entry}" class="container">
      <h3>Week <span th:text="${week}">week</span> picks for <span th:text="${entry.player().name()}">player</span></h3>
      <div class="row">
        <div class="col-3" style="text-align: right;"><h5>Away</h5></div>
        <div class="col-3" style="text-align: left;"><h5>Home</h5></div>
        <div class="col-1" style="text-align: right;"><h5>Ranking</h5></div>
      </div>
      <div class="row" th:each="pick : ${entry.picks()}">
        <div class="col-3 awayTeam" th:classappend="${pick.winner().name() == 'AWAY'} ? 'selectedWinner' : ''">
          <span th:text="${pick.game().awayTeam().location()}">away location</span>
          <img th:src="|/images/${pick.game().awayTeam().abbr()}.svg|" width="24" />
         </div>
        <div class="col-3 homeTeam" th:classappend="${pick.winner().name() == 'HOME'} ? 'selectedWinner' : ''">
          <img th:src="|/images/${pick.game().homeTeam().abbr()}.svg|" width="24" />
          <span th:text="${pick.game().homeTeam().location()}">home location</span>
        </div>
        <div class="col-1" style="text-align: right; vertical-align: middle; border: 1px solid;">
          <span th:text="${pick.ranking()}">ranking</span>
        </div>
      </div>
    </div>

  </th:block>

  <th:block layout:fragment="extra_scripts">
  <script>
  $(function() {
    $('#weekChooser').focus();
    $('#weekChooser').change(function(e) { window.location = '/entries/' + $('#weekChooser').val(); });

    $('#playerChooser').change(function(e) {
      window.location = '/entries/' + $('#weekChooser').val() + '/player/' + $('#playerChooser').val();
    });
  });
  </script>
  </th:block>

</html>
